body{
  background-color: #005d79;
}


header{
  display:flex;
  justify-content:center;
  height: 15%;
  background-color: #005d79;
  width: 100%;
}

.logo{
  width: 20%;
  height: 20%;
}


#barra-navegacao a{
  color: white;
  text-decoration: none;
}

#barra-navegacao{
  color: white;
  height: 5%;
  font-size: 25px;
  border: 8px solid #158ba2;
  background-color: #158ba2;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
  padding: 2%;
}

#div-pai{
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;
  border-radius: 25px;
  background-color:  #8ad4ea;
  height: 700px;
  width: 65%;
} 


#div-txt{
  margin-left: 25%;
  margin-right: 15%;
  text-align: center;
  width: 50%;
  font-size: 35px;
  font-family: coursive;
}